body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header{
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.obrazek{
    width: 50%;
    
}

ul{
    font-size: 20px;
    display: flex;
    gap: 34px;
}

li{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: rgb(0, 0, 0);
    margin-top: 500px;
    padding: 20px;
    align-items: center;
    height: 310px;
}

.icons8{
    justify-content: center;
    display: flex;
    height: 50px;
    padding: 3px;
    text-indent: 5px;
}

.carka{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -3px;
}

.nadcarou{
    display: flex;
    text-indent: 15px;
    text-decoration: none;
    justify-content: center;
    padding-top: 24px;
}
.kontakt{
    color: white;
    display: flex;
    justify-content: center; 
}

.cas{
    color: white;
    display: flex;
    justify-content: center;
}

.copy{
    color: white;
    display: flex;
    justify-content: center;
}

